# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
duckdb==1.2.0
pandas==2.2.3
tqdm==4.67.1
dask==2024.12.1
polars==1.22.0
fireducks==1.2.1
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy